body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    width: 90%;
    max-width: 600px;
}

h1 {
    margin-bottom: 20px;
}

#file-input,
#pdf-title {
    margin-bottom: 20px;
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#generate-pdf {
    background: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    width: calc(100% - 20px);
    margin-bottom: 20px;
}

#generate-pdf:hover {
    background: #218838;
}

#add-more {
    background: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    width: calc(100% - 20px);
    margin-top: 20px;
}

#add-more:hover {
    background: #218838;
}

#image-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.image-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    justify-content: space-between;
    background: #ddd;
    padding: 10px;
    border-radius: 5px;
}

.image-item img {
    max-width: 50px;
    margin-right: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
}

.image-item .filename {
    flex-grow: 1;
    margin-right: 10px;
}

.remove-button {
    background: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.remove-button:hover {
    background: #c82333;
}
